.qa-table th {
  background-color: #3d7b99;
  color: #fff;
  font-weight: 400;
}

.qa-table th:hover {
  filter: brightness(0.92);
}

.qa-sort-desc, .qa-sort-asc {
  color: #fff;
}

.qa-table-heatmap-container {
  text-align: center;
  cursor: pointer;
  color: #3d7b99;
  font-size: 17px;
}

.qa-table-replay-container {
  text-align: center;
  color: #3d7b99;
}

.qa-table-replay-container > span {
  cursor: pointer;
  color: #3d7b99;
}

.qa-table-loading-icon-bounceball:before {
  background-color: #3d7b99;
}

.qa-table-loading-icon-text::after {
  letter-spacing: -0.1em;
}

.qa-filter-add {
  background-color: #3d7b99;
  color: #fff;
}

.qa-filter-add:hover {
  background-color: #326680;
}
